/* Fonts */

/* black */
@font-face {
    font-family: lato;
    src: url('./assets/fonts/Lato-Black.ttf') format('ttf');
    font-style: black; 
}

/* bold */
@font-face {
    font-family: lato;
    src: url('./assets/fonts/Lato-Bold.ttf') format('ttf'); 
    font-style: bold;
}

/* italic */
@font-face {
    font-family: lato;
    src: url('./assets/fonts/Lato-Italic.ttf') format('ttf'); 
    font-style: italic;
}

/* light */
@font-face {
    font-family: lato;
    src: url('./assets/fonts/Lato-Light.ttf') format('ttf'); 
    font-style: light;
}

/* regular */
@font-face {
    font-family: lato;
    src: url('./assets/fonts/Lato-Regular.ttf') format('ttf'); 
    font-style: normal;
}

/* thin */
@font-face {
    font-family: lato;
    src: url('./assets/fonts/Lato-Thin.ttf') format('ttf'); 
    font-style: light;
}